body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}


#style-selector {
    position: absolute;
    top: 10px;
    right: 20px;
    padding: 5px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    font-size: 0.5em;
}

#style-selector label {
    margin-right: 10px;
    font-weight: bold;
}

#style-selector select {
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #fff;
    color: #333;
    cursor: pointer;
    transition: border-color 0.3s, box-shadow 0.3s;
}

#style-selector select:hover {
    border-color: #4a4e69;
    box-shadow: 0 0 5px rgba(74, 78, 105, 0.5);
}

#countdown {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 5px;
}
.copy-btn {
    background: none;
    border: none;
    cursor: pointer;
    margin-left: 5px;
    color: #888;
    font-size: 0.7em;
    transition: color 0.3s;
    padding: 0;
}

.copy-btn i {
    font-size: 1em;
}

.copy-btn:hover {
    color: #555;
}

.copy-icon {
    cursor: pointer;
    margin-left: 5px;
    color: #888;
    font-size: 0.8em;
    transition: color 0.3s;
    display: inline-block;
}

.copy-icon:hover {
    color: #555;
}

.copy-alert {
    position: absolute;
    top: 0;
    left: 100%;
    margin-left: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    opacity: 0;
    transition: opacity 0.5s;
    white-space: nowrap;
}

.copy-alert.visible {
    opacity: 1;
}

#history {
    background-color: #fff; /* 背景为白色 */
    border: 1px solid #ddd; /* 外边框 */
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;/* 圆角 */
    overflow-x: auto;
    width: 100%;
    max-width: 600px;
}

#history-table {
    width: 100%;
    border-collapse: collapse; /* 确保表格边框合并 */
}

#history-table th, #history-table td {
    padding: 12px; /* 增加单元格的内边距 */
    text-align: left;
    border-bottom: 1px solid #ddd;
    background-color: #fff; /* 确保单元格背景色为白色 */
}

#history-table th {
    background-color: #f2f2f2; /* 为表头添加背景色 */
}


.details-row table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #fff; /* 背景为白色 */
    border: 1px solid #ddd; /* 外边框 */
}

.details-row th, .details-row td {
    border-bottom: 1px solid #eee; /* 分割线 */
    padding: 10px;
    font-size: 0.5em; /* 字体稍小 */
    text-align: left;
}

.details-row th {
    background-color: #f5f5f5; /* 头部背景色 */
    font-weight: bold;
}

.details-row td {
    background-color: #fafafa; /* 行背景色 */
    padding: 8px; /* 详情行的内边距 */
}

.details-row tr:last-child td {
    border-bottom: none; /* 最后一行无底边 */
}

@media (max-width: 768px) {
    #history-table th:nth-child(1),
    #history-table td:nth-child(1) {
        display: none; /* 隐藏序号列 */
    }

    #history-table th, #history-table td {
        padding: 10px; /* 调整小屏幕的内边距 */
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    #history-table th:nth-child(2),
    #history-table td:nth-child(2) {
        display: none; /* 隐藏日期列 */
    }

    #history-table th, #history-table td {
        padding: 8px; /* 调整更小屏幕的内边距 */
        font-size: 12px;
    }
}
