body {
    font-family: 'Arial', sans-serif;
    background-color: #e0f7fa;
    color: #006064;
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    color: #004d40;
    margin-bottom: 20px;
}

#modules {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 100%;
    max-width: 600px;
    margin-bottom: 20px;
}

#modules div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    padding: 10px;
    border-bottom: 1px solid #b2ebf2;
}

#modules div:last-child {
    border-bottom: none;
}

label {
    flex-grow: 1;
    margin-left: 10px;
    font-weight: bold;
}

span {
    font-size: 0.9em;
    color: #00796b;
}

#controls {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

button {
    background-color: #00796b;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    margin: 0 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #004d40;
}


#history {
    background-color: #fff; /* 背景为白色 */
    border: 1px solid #ddd; /* 外边框 */
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;/* 圆角 */
    overflow-x: auto;
    width: 100%;
    max-width: 600px;
}
